.client-footer {
    position: fixed;
    bottom: 0;
    left: 290px; /* Sidebar width to align the footer within the content area */
    background-color:darkslategray;
    color: white;
    text-align: center;
    padding: 10px 20px;
    z-index: 1000;
    width: calc(100% - 250px); /* Full width within content area minus sidebar */
  }
  
  .footer-links {
    margin-top: 10px; /* Space above links */
  }
  
  .footer-links a {
    color: white; /* Link color */
    text-decoration: none; /* Remove underline */
    margin: 0 10px; /* Space between links */
  }
  
  .footer-links a:hover {
    text-decoration: underline; /* Underline on hover */
    color: yellow;
  }