<div class="login-container">
    <div class="login-form">
      <h2>Employee Login</h2>
      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input id="username" type="text" formControlName="username" placeholder="Enter your username" />
          <div *ngIf="employeeForm.get('username')?.invalid && employeeForm.get('username')?.touched" class="error">
            Username is required.
          </div>
        </div>
  
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" type="password" formControlName="password" placeholder="Enter your password" />
          <div *ngIf="employeeForm.get('password')?.invalid && employeeForm.get('password')?.touched" class="error">
            Password is required.
          </div>
        </div>
  
  
        <button type="submit">Login</button>
  
        <div class="forgot-password">
          <a href="#">Forgot Password?</a>
        </div>
      </form>
    </div>
    <div class="login-image">
      <img src="assets/employee-login.png" alt="Employee Login" />
    </div>
  </div>
  